<div class='element-header social'>Chat</div>
<div class='row todo'>
  <div class='social-element'>
    <div class='chatbox-container'>
      <div class='chat-image'></div>
      <div class='chatbox-left'><span class='username'>Doorbell:</span>Hi <span class='highlight'></span>,
        <a href='#' class='main-color'></a>Here to deliver a package.</div>
    </div>
    <div class='chatbox-container'>
      <div class='chat-image'></div>
      <div class='chatbox-left'><span class='username'>Reponse:</span>Ok, thanks. I'll be there in a moment.</div>
    </div>
    <div class='chatbox-container'>
      <div class='chat-image'></div>
      <div class='chatbox-left'><span class='username'>Doorbell:</span>Sounds Good <span class='highlight'></span></div>
    </div>
    <p class='spacing-adjuster'></p>
    <div class='chat-input'>
      <textarea rows='1' placeholder='Add a comment to this workflow...'></textarea>
      <div class='submit-icon'><i class="fa fa-paper-plane-o"></i></div>
    </div>
  </div>
</div>
