<nav class="navbar navbar-default" ng-controller="navbarCtrl">
  <div class='container'>
    <div class='sidebar'>
      <div class='navigation-elm'><span class='nav-text'><i class="fa fa-fw fa-home"></i><span class='text-short'>Welcome</span></span>
      </div>
      <div class='navigation-elm'><span class='nav-text'><i class="fa fa-fw fa-picture-o"></i><span class='text-short'>Image</span> <span class='text-long'>Search</span></span>
      </div>
      <div class='navigation-elm'><span class='nav-text'><i class="fa fa-fw fa-users"></i><span class='text-short'>Data</span> <span class='text-long'>Statistics</span></span>
      </div>
      <div class='navigation-elm'><span class='nav-text'><i class="fa fa-fw fa-sign-in"></i><span class='text-short'>Login</span> <span class='text-long'>Register</span></span>
      </div>
            <div class="navigation-elm" ng-repeat="item in navItems">
        <a href="{{item.url}}"><span class="nav-text-{{item.url}}"></span>{{item.name}}</a>
      </div>
    </div>
  </div>
</nav>
